{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}| Login{% endblock %}
{% block content %}
<style>
  .btn-danger-custom {
    background-color: #ec3242;
    color: #ffffff
  }

  .btn-danger-custom:hover {
    background-color: #e42e3e;
    color: #ffffff
  }
</style>
<main>
  <div class="container m-auto">
    <p class="mt-2 mb-3 h2 text-center" style="color: #9e9e9e; font-weight: 300;">- Login -
</p>
    <div class="row">
      <div class="col-md-6 text-center mb-2">
        <a class="btn btn-danger-custom btn-md pl-5 pr-5" style="border-radius: 20px"
          href="{% provider_login_url 'google' google='https://www.google.com/accounts/o8/id' next='/success/url/' %}"><i
            class="fab fa-google"></i> &nbsp; Continue with Google</a>
      </div>
      <div class="col-md-6 text-center mb-2">
        <a class="btn btn-primary btn-md pl-5 pr-5" style="border-radius: 20px;" href="#"><i class="fab fa-facebook"></i>
          &nbsp; Continue with Facebook</a>
      </div>
    </div>

    <p class="mt-2 mb-2 h6 text-center" style="color: #9e9e9e; font-weight: 600;">- OR -</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="clearfix">
        <button class="btn btn-dark btn-md float-left" type="submit">{% trans "Sign In" %}</button>
        <a class="btn btn-outline-default btn-md float-right"
          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
      </form>
      <br>
    <p class="small m-0" style="color: #5c5c5c;">{% blocktrans %}Didn't have an account,
    <a href="{{ signup_url }}">sign up</a> here.{% endblocktrans %}</p>
  
  </div>
</main>
<br>
{% endblock %}