{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <p class="mt-2 mb-3 h2 text-center" style="color: #9e9e9e; font-weight: 300;">- Password Reset -
    </p>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-dark mb-2" type="submit">{% trans "Reset My Password" %}</button>

    </form>
    <br>
    <p class="small m-0" style="color: #6e6e6e">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </p>
    <p class="small m-0 text-muted">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    <br>
</div>
{% endblock %}