{% extends 'home/back.html' %}
{% block title %}
| Terms & Conditions
{% endblock %}
{% block back-url %}{% url 'home' %}{% endblock %}
{% block content %}
<p class="mt-2 mb-3 h2 text-center" style="color: #9e9e9e; font-weight: 300;">- Terms & Condition -
</p>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span class="badge badge-warning">Q.1.</span> How do I register myself as an artist on SketchFrame.com?
        </div>
        <div class="card-body">
            <p>
            <span>Step 1- Go to the "Sell your products" link at the bottom of the page.</span><br>
            <span>Step 2- Check the "Become Seller" checkbox at the bottom.</span><br>
            <span>Step 3- Click on the "REGISTER" button.</span><br>
            </p>
        </div>
    </div>
</div>
<br>
{% endblock %}