{% extends 'seller/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
| Add Products
{% endblock %}
{% block content %}
<style>
    .upload-file {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        width: 110px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #default-img {
        position: relative;
        display: block;
    }

    #previewImg {
        display: none;
    }

    .no-img-selected {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 104px;
        height: 104px;
    }

    .filter-gray {
        filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(212deg) brightness(103%) contrast(95%);
        }.product-modal-max{
        max-width: 80% !important;
    }
    @media(max-width: 800px){
        .product-modal-max{
            max-width: 1000% !important;
            margin-left: 10px;
        }
        .text-muted{
            font-size: 11px;
        }
        .h2{
            font-size: 1.7rem;
        }
        .h5{
            font-size: 1.1rem;
        }
    }
</style>
<p class="mt-2 mb-3 h2 text-center" style="color: #9e9e9e; font-weight: 300;">- Add Products -</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card p-0 pt-3 pl-3 pr-3 pb-0" style="background-color: #fff">
                <div id="default-img" {% if itemImages.count == 0 %} style="border: 2px dashed #e2e2e2; height: 300px;"{% endif %}>
                    <div class="d-flex justify-content-center align-content-center">
                        <img src="
                        {% if itemImages.count == 0 %}
                            https://sketchframe.s3.ap-south-1.amazonaws.com/svg/insert_photo_48px.svg
                        {% else %}
                            {{ itemImages.0.image.url }}
                        {% endif %}
                        " class="{% if itemImages.count == 0 %}filter-gray no-img-selected{% endif %}" alt="no image selected" id="no-image" style="max-height: 380px;">
                    </div>
                </div>
                <img src="" alt="image cannot be displayed" id="previewImg" style="max-width: 100%;height: 300px; object-fit: contain;">
                <div class="d-flex justify-content-center align-content-center flex-row flex-wrap mt-1">
                    <img src="
                    {% if itemImages.0 %}
                    {{  itemImages.0.image.url }}
                    {% else %}
                    https://sketchframe.s3.ap-south-1.amazonaws.com/svg/insert_photo_48px.svg
                    {% endif %}"
                        class="{% if not itemImages.0 %}filter-gray m-1 {% endif %}cursor" alt="image cannot be displayed" id="previewImg1"
                        onclick="preivewImg(this)" {% if itemImages.0 %} style="height: 48px; width:48px; object-fit: cover;" {% endif %}>

                    <img src="
                    {% if itemImages.1 %}
                    {{  itemImages.1.image.url }}
                    {% else %}
                    https://sketchframe.s3.ap-south-1.amazonaws.com/svg/insert_photo_48px.svg
                    {% endif %}"
                        class="{% if not itemImages.1 %}filter-gray m-1 {% endif %}cursor" alt="image cannot be displayed" id="previewImg2"
                        onclick="preivewImg(this)" {% if itemImages.1 %} style="height: 48px; width:48px; object-fit: cover;" {% endif %}>
                    <img src="
                    {% if itemImages.2 %}
                    {{  itemImages.2.image.url }}
                    {% else %}
                    https://sketchframe.s3.ap-south-1.amazonaws.com/svg/insert_photo_48px.svg
                    {% endif %}"
                        class="{% if not itemImages.2 %}filter-gray m-1 {% endif %}cursor" alt="image cannot be displayed" id="previewImg3"
                        onclick="preivewImg(this)" {% if itemImages.2 %} style="height: 48px; width:48px; object-fit: cover;" {% endif %}>
                </div>
                <form method="POST" id="images-form" class="row d-flex position-relative justify-content-center align-items-center mt-2">
                    {% for f in formset %}
                    <label for="id_form-{{ forloop.counter0 }}-image" class="custom-file-upload ml-1 mr-1 text-muted w-25"
                        id="label-{{forloop.counter0}}">Choose
                        file...</label>
                    {% endfor %}
                    {{ formset }}
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card w-100 mw-100 p-2">
                <div class="card-text">
                    <div class="clearifx">
                        <div class="h5 float-left text-secondary" style="font-weight: 200">
                            Selling information
                        </div>
                        <div class="float-right">
                            <button class="btn btn-link p-0 pb-1 m-0"><small class="text-primary"
                                    data-target="#price-modal" data-toggle="modal">Edit</small></button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 m-0 border-top" style="font-size: 14px;">
                    <div class="row pt-2 m-auto">
                        <div class="col-4">
                            <p class="p-0 text-muted">SKU
                                {% if item.sku %}
                                    <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                    <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Stock
                                {% if item.stock %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Listing Status</p>
                        </div>

                    </div>
                    <div class="row m-auto">
                        <div class="col-4">
                            <p class="p-0 text-muted">Price detail
                                {% if item.originalPrice %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">GST
                                {% if item.gst %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Dispatch time
                                {% if item.dispatch_time %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card w-100 mt-2 mw-100 p-2">
                <div class="card-text">
                    <div class="clearifx">
                        <div class="h5 float-left text-secondary" style="font-weight: 200">
                            Product description
                        </div>
                        <div class="float-right">
                            <button class="btn btn-link p-0 pb-1 m-0"><small class="text-primary"
                                    data-target="#product-modal" data-toggle="modal">Edit</small></button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 m-0 border-top" style="font-size: 14px;">
                    <div class="row pt-2 m-auto">
                        <div class="col-4">
                            <p class="p-0 text-muted">Title
                                {% if item.title %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Colour
                                {% if item.color %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Short Description
                                {% if item.shortDescription %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row m-auto">
                        <div class="col-4">
                            <p class="p-0 text-muted">Full Description
                                {% if item.fullDescription %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Weight
                                {% if item.weight %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Dimensions
                                {% if item.length and item.height %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row m-auto">
                        <div class="col-4">
                            <p class="p-0 text-muted">HSN Code
                                {% if item.hsnCode %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Framing options</p>
                        </div>
                        <div class="col-4">
                            <p class="p-0 text-muted">Search Keyword
                                {% if item %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100 mt-2 mw-100 p-2">
                <div class="card-text">
                    <div class="clearifx">
                        <div class="h5 float-left text-secondary" style="font-weight: 200">
                            Package information
                        </div>
                        <div class="float-right">
                            <button class="btn btn-link p-0 pb-1 m-0"><small class="text-primary"
                                    data-target="#package-modal" data-toggle="modal">Edit</small></button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0 m-0 border-top" style="font-size: 14px;">
                    <div class="row pt-2 m-auto">
                        <div class="col-6">
                            <p class="p-0 text-muted">Dimensions
                                {% if package %}
                                {% if package.packageLength and package.packageWidth and package.packageHeight %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="p-0 text-muted">Weight
                                {% if package %}
                                {% if package.packageWeight %}
                                <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                                {% else %}
                                <i class="fas fa-exclamation-circle text-warning"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="clearfix mt-3">
        {% if item.sku and item.stock and item.price and item.gst and item.dispatch_time and item.title and item.color and item.shortDescription and item.fullDescription and item.weight and item.length and item.height and item.hsnCode and package.packageLength and package.packageWidth and package.packageHeight and package.packageWeight %}
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'my-shop' %}" class="btn btn-secondary btn-md pr-5 pl-5" style="border-radius:  20px">Cancel</a>
            <button name='final_submit' type="submit" class="btn btn-md btn-dark pr-5 pl-5"
                style="border-radius: 20px; float: right;">Submit</button>
        </form>        
        {% else %}
        <a href="{% url 'my-shop' %}" class="btn btn-secondary btn-md pr-5 pl-5" style="border-radius: 20px">Cancel</a>
        <button type="submit" class="btn btn-md btn-dark pr-5 pl-5" style="border-radius: 20px; float: right;" disabled
            data-toggle="tooltip" data-placement="top" title="Fill all required fields first!">Submit</button>
        {% endif %}
    </div>
</div>
<br>
<div class="modal fade" id="price-modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header p-2 pl-4 pr-4">
                <h4 class="modal-title h5" style="font-weight: 200;">Selling Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form method="POST" class="modal-body p-2 pl-4 pr-4">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="sku" class="pt-2 pb-2 pr-1">SKU: </label>
                        {{ seller_information.sku | as_crispy_field }}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="stock" class="pt-2 pb-2 pr-2">Stock: </label>
                        {{ seller_information.stock | as_crispy_field }}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="price" class="pt-2 pb-2 pr-1">Price: </label>
                        {{ seller_information.price | as_crispy_field }}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="gst" class="pt-2 pb-2 pr-2">GST: </label>
                        {{ seller_information.gst | as_crispy_field }}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="dispatch_time" class="pt-2 pb-2 pr-1">Dispatch time: </label>
                        {{ seller_information.dispatch_time | as_crispy_field }}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-6 form-group d-flex flex-row justify-content-center">
                        <div class="custom-control custom-checkbox">
                            {{ seller_information.listing_status }}
                            <label class="custom-control-label" for="publish">Publish</label>
                        </div>
                        <i>
                            <span class="ml-2" data-toggle="tooltip" data-placement="left"
                                title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer p-2">
                    <button type="submit" name="seller_information" class="btn btn-warning pl-5 pr-5"
                        style="background-color: #edca20; border-radius: 20px; color: #404040; font-weight: 650; letter-spacing: 1px">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="product-modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable product-modal-max">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header p-2 pl-4 pr-4">
                <h4 class="modal-title h5" style="font-weight: 200;">Product description</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form role="form" method="POST" class="modal-body p-2 pl-4 pr-4">
                {% csrf_token %}
                {{product_description.media}}
                <div class="form-row">
                    <style>
                        #div_id_title,
                        #div_id_color,
                        #div_id_stock,
                        #div_id_sku,
                        #div_id_originalPrice,
                        #div_id_gst {
                            width: 100% !important;
                        }
                    </style>
                    <div class="col-md-8 form-group d-flex flex-row">
                        <label for="title" class="pt-2 pb-2 pr-1">Title: </label>
                        {{product_description.title | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-4 form-group d-flex flex-row">
                        <label for="colour" class="pt-2 pb-2 pr-2">Colour: </label>
                        {{product_description.color | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 form-group">
                        <label for="shortDescription" class="pt-2 pb-2 pr-1">Short Description:
                            <i data-toggle="tooltip" data-placement="left"
                                title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </i>
                        </label>
                        {{product_description.shortDescription | as_crispy_field}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 form-group">
                        <label for="fullDescriptipn" class="pt-2 pb-2 pr-1">Full Description:
                            <i data-toggle="tooltip" data-placement="left"
                                title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </i>
                        </label>
                        {{product_description.fullDescription | as_crispy_field}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 form-group d-flex flex-row">
                        <label for="weight" class="pt-2 pb-2 pr-1">Weight:(g) </label>
                        {{product_description.weight | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-4 form-group d-flex flex-row">
                        <label for="length" class="pt-2 pb-2 pr-1">Length:(cm) </label>
                        {{product_description.length | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-4 form-group d-flex flex-row">
                        <label for="width" class="pt-2 pb-2 pr-2">Height:(cm) </label>
                        {{product_description.height | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 form-group d-flex flex-row">
                        <label for="hsnCode" class="pt-2 pb-2 pr-1">HSN Code: </label>
                        {{product_description.hsnCode | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-4 form-group d-flex flex-row justify-content-center">
                        <div class="custom-control custom-checkbox">
                            {{ product_description.addFrame }}
                            <label class="custom-control-label" for="frame">Add Frame</label>
                        </div>
                        <i>
                            <span class="ml-2" data-toggle="tooltip" data-placement="left"
                                title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-4 form-group d-flex flex-row">
                        <label for="framingCost" class="pt-2 pb-2 pr-1">Framing cost: </label>
                        {{product_description.frameCost | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer p-2">
                    <button type="submit" class="btn btn-warning pl-5 pr-5" name="product_description"
                        style="background-color: #edca20; border-radius: 20px; color: #404040; font-weight: 650; letter-spacing: 1px">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="package-modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header p-2 pl-4 pr-4">
                <h4 class="modal-title h5" style="font-weight: 200;">Package information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form role="form" method="POST" class="modal-body p-2 pl-4 pr-4">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="packageLength" class="pt-2 pb-2 pr-1">Length(cm): </label>
                        {{packageForm.packageLength | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="packageWidth" class="pt-2 pb-2 pr-2">Breadth(cm): </label>
                        {{packageForm.packageWidth | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="packageHeight" class="pt-2 pb-2 pr-1">Height(cm): </label>
                        {{packageForm.packageHeight | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                    <div class="col-md-6 form-group d-flex flex-row">
                        <label for="packageWeight" class="pt-2 pb-2 pr-2">Weight(g): </label>
                        {{packageForm.packageWeight | as_crispy_field}}
                        <i data-toggle="tooltip" data-placement="left"
                            title="Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones, all at a single hub. Easily accessible and affordable. ">
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    style="margin-top: 12px;">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                </svg>
                            </span>
                        </i>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer p-2">
                    <button type="submit" class="btn btn-warning pl-5 pr-5" name="package_information"
                        style="background-color: #edca20; border-radius: 20px; color: #404040; font-weight: 650; letter-spacing: 1px">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/Jquery_V3.4.1.js' %}"></script>
<script type="text/javascript">
    function preivewImg(event) {
        if (event.src !== "https://sketchframe.s3.ap-south-1.amazonaws.com/svg/insert_photo_48px.svg") {
            console.log(document.getElementById("previewImg").src)
            // document.getElementById("default-img").style.display = "none";
            return document.getElementById("previewImg").src = event.src
        } else {
            return true;
        }
    }
    $(document).ready(function () {
        $('input[name="form-0-image"]').change(function (e) {
            var fileName0 = e.target.files[0].name;
            $('#label-0').html(fileName0)
            var defaultImg = document.getElementById("default-img");
            var formData = new FormData()

            var previewImg = document.getElementById("previewImg");
            var noImage = document.getElementById("no-image");
            noImage.src = "https://sketchframe.s3.ap-south-1.amazonaws.com/svg/35.svg"
            noImage.className = noImage.className.replace(/\bfilter-gray\b/g, "");
            noImage.style.width = "48px";
            noImage.style.height = "48px";

            var previewImg1 = document.getElementById("previewImg1");
            previewImg1.src = 'https://sketchframe.s3.ap-south-1.amazonaws.com/svg/35.svg'
            previewImg1.className = previewImg1.className.replace(/\bfilter-gray\b/g, "");
            previewImg1.style.width = "60px";
            previewImg1.style.height = "55px";
            previewImg1.style.objectFit = "cover";

            formData.append('image', e.target.files[0])
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "{% url 'add-images' slug=item.slug number=1 %}",
                processData: false,
                contentType: false,
                data: formData,
                success: function (resp) {
                    if(resp.uploaded === 'Uploaded Image'){
                        defaultImg.style.display = "none";
                        previewImg.src = URL.createObjectURL(e.target.files[0])
                        previewImg.style.objectFit = "cover";
                        previewImg.style.display = "block";
                        previewImg1.src = URL.createObjectURL(e.target.files[0])
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })
        });
        $('input[name="form-1-image"]').change(function (e) {
            var fileName1 = e.target.files[0].name;
            $('#label-1').html(fileName1)
            var defaultImg = document.getElementById("default-img");
            var formData = new FormData()

            var previewImg = document.getElementById("previewImg");
            var noImage = document.getElementById("no-image");
            noImage.src = "https://sketchframe.s3.ap-south-1.amazonaws.com/svg/35.svg"
            noImage.className = noImage.className.replace(/\bfilter-gray\b/g, "");
            noImage.style.width = "48px";
            noImage.style.height = "48px";

            var previewImg2 = document.getElementById("previewImg2");
            previewImg2.src = 'https://sketchframe.s3.ap-south-1.amazonaws.com/svg/35.svg'
            previewImg2.className = previewImg2.className.replace(/\bfilter-gray\b/g, "");
            previewImg2.style.width = "60px";
            previewImg2.style.height = "55px";
            previewImg2.style.objectFit = "cover";

            formData.append('image', e.target.files[0])
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "{% url 'add-images' slug=item.slug number=2 %}",
                processData: false,
                contentType: false,
                data: formData,
                success: function (resp) {
                    if(resp.uploaded === 'Uploaded Image'){
                        defaultImg.style.display = "none";
                        previewImg.src = URL.createObjectURL(e.target.files[0])
                        previewImg.style.objectFit = "cover";
                        previewImg.style.display = "block";
                        previewImg2.src = URL.createObjectURL(e.target.files[0])
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })
        });
        $('input[name="form-2-image"]').change(function (e) {
            var fileName0 = e.target.files[0].name;
            $('#label-2').html(fileName0)
            var defaultImg = document.getElementById("default-img");
            var formData = new FormData()

            var previewImg = document.getElementById("previewImg");
            var noImage = document.getElementById("no-image");
            noImage.src = "https://sketchframe.s3.ap-south-1.amazonaws.com/svg/35.svg"
            noImage.className = noImage.className.replace(/\bfilter-gray\b/g, "");
            noImage.style.width = "48px";
            noImage.style.height = "48px";

            var previewImg3 = document.getElementById("previewImg3");
            previewImg3.src = 'https://sketchframe.s3.ap-south-1.amazonaws.com/svg/35.svg'
            previewImg3.className = previewImg3.className.replace(/\bfilter-gray\b/g, "");
            previewImg3.style.width = "60px";
            previewImg3.style.height = "55px";
            previewImg3.style.objectFit = "cover";

            formData.append('image', e.target.files[0])
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "{% url 'add-images' slug=item.slug number=3 %}",
                processData: false,
                contentType: false,
                data: formData,
                success: function (resp) {
                    if(resp.uploaded === 'Uploaded Image'){
                        defaultImg.style.display = "none";
                        previewImg.src = URL.createObjectURL(e.target.files[0])
                        previewImg.style.objectFit = "cover";
                        previewImg.style.display = "block";
                        previewImg3.src = URL.createObjectURL(e.target.files[0])
                    }
                },
                error: function(err){
                    console.log(err)
                }
            })

        });
    });
</script>
{% endblock %}