a:hover {
    text-decoration: none;
    color: #1d1e1f;
}
footer {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 30px;
}

footer p {
    font-size: 15px;
}

.logo-font {
    font-size: 30px;
}

@media (max-width: 360px) {
    .logo-font {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .logo-font {
        font-size: 20px;
    }
}

.fixed-top {
    z-index: 3;
    /* box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.05); */
}

.footer-link a {
    text-decoration: none;
    border-bottom: none;
    color: #8c8c8c;
}

.footer-link a:hover {
    transition: 0.4s ease;
    padding-bottom: 2px;
    ;
    border-bottom: 1px solid #edca20;
    color: #edca20;
}

.footer-icon {
    color: #7a7a7a;
    font-size: 25px;
    letter-spacing: 10px;
}

.footer-icon:hover {
    color: #edca20;
}

.subscribe-form {
    display: flex;
}

.email-input {
    background-color: transparent;
    color: #8c8c8c;
    font-weight: bold;
    margin-right: 10px;
    letter-spacing: 0.5px;
}

.copyright {
    color: #8c8c8c;
    font-size: 14px;
}

@-webkit-keyframes YRyXNT {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes YRyXNT {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

._3zajI2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: #eaeaea;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 52px;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    background-color: #fff
}

@media (max-width: 1090px) {
    ._3zajI2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 800px) {
    ._3zajI2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    ._3zajI2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 400px) {
    ._3zajI2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

._3zajI2 ._2TbFnS {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    width: 42px;
    max-height: 16px;
    line-height: 10px;
    position: relative;
    overflow: hidden
}

._3zajI2 ._1ff24g {
    display: table-cell;
    vertical-align: middle;
}

._1ff24g > img {
    margin-left: 15px;
    height: 60px;
}

@media (max-width: 991px) {
    ._1ff24g > img {
        margin-left: 10px;
    }
}

@media (max-width: 690px) {
    ._1ff24g > img {
        margin-left: 0px;
    }
}


._3zajI2 ._2GEDF4 {
    display: table-cell;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle
}

._3zajI2 ._2GEDF4 ._3i3Y0k {
    text-align: left;
    padding-left: 12px
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

::-webkit-input-placeholder {
    color: #747474
}

.BHoPKo {
    width: 100%
}

.BHoPKo ._2na3Cx {
    top: 0;
    width: 100%;
    z-index: 1;
    will-change: opacity;
    position: relative
}

.subscribe {
    border: 1px solid transparent;
    background-color: #edca20;
    font-weight: bold;
    color: #1d1e1f;
    letter-spacing: 0.5px;
}
.subscribe:hover {
    border: 1px solid #edca20;
    background-color: transparent;
    color: #edca20;
}

.BHoPKo ._3w_sI1 {
    width: 100%;
    will-change: opacity
}

.BHoPKo ._3w_sI1 ._3dMRK9 ._2AZhmo {
    width: 100%;
    min-width: 31%;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1
}

.BHoPKo ._3w_sI1 ._3dMRK9 ._3xe7Jz {
    width: 95%;
    z-index: 2;
    padding-bottom: 10px;
    margin: auto
}

.BHoPKo ._2anozr {
    width: 100%;
    height: 40px;
    font-size: 14px;
    letter-spacing: -.3px;
    text-align: center;
    color: #878787;
    display: inline-block;
    text-align: left;
    opacity: 1;
    vertical-align: middle;
    border-radius: 2px;
    background-color: rgb(253, 253, 253);
    -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12);
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    line-height: 40px
}

.BHoPKo .lzMbl5 {
    width: 100%;
    height: 33px;
    outline: 0;
    padding-left: 36px;
    font-size: 14px;
    border: 0;
    outline: 0;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(230, 230, 230);
    border-bottom: none;
}

.BHoPKo .lzMbl5::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: -.2px
}

.BHoPKo ._2anozr:before {
    position: absolute;
    content: " ";
    height: 16px;
    width: 16px;
    left: 10px;
    top: 12px;
}

.BHoPKo ._2anozr:before {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjODc4Nzg3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0xMS42MTggOS44OTdsNC4yMjUgNC4yMTJjLjA5Mi4wOTIuMTAxLjIzMi4wMi4zMTNsLTEuNDY1IDEuNDZjLS4wODEuMDgxLS4yMjEuMDcyLS4zMTQtLjAybC00LjIxNi00LjIwMyIvPjxwYXRoIGQ9Im02LjQ4NiAxMC45MDFjLTIuNDIgMC00LjM4MS0xLjk1Ni00LjM4MS00LjM2OCAwLTIuNDEzIDEuOTYxLTQuMzY5IDQuMzgxLTQuMzY5IDIuNDIgMCA0LjM4MSAxLjk1NiA0LjM4MSA0LjM2OSAwIDIuNDEzLTEuOTYxIDQuMzY4LTQuMzgxIDQuMzY4bTAtMTAuODM1Yy0zLjU4MiAwLTYuNDg2IDIuODk1LTYuNDg2IDYuNDY3IDAgMy41NzIgMi45MDQgNi40NjcgNi40ODYgNi40NjcgMy41ODIgMCA2LjQ4Ni0yLjg5NSA2LjQ4Ni02LjQ2NyAwLTMuNTcyLTIuOTA0LTYuNDY3LTYuNDg2LTYuNDY3Ii8+PC9nPjwvc3ZnPg==);
}

.BHoPKo ._3hOIqi {
    border-radius: 2px 2px 0 0;
    margin: auto;
    position: relative
}

.BHoPKo ._3hOIqi ._33w5fH {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

._2os76x {
    background: #fff
}


/* Side Nav */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: rgba(61, 61, 61, 0.93);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* End Side Nav */


/* View all products table for seller */

.products-tbody {
    display: block;
    height: 50vh;
    overflow-y: scroll;
}

.products-thead,
.products-tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}


/* custom slideshow */


/* Position the image container (needed to position the left and right arrows) */

.slideshow-container {
    position: relative;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(250, 245, 245, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.slideshow-row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.column {
    float: left;
    width: 33.33%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/* Product page styling */

.productDescription {
    font-family: Arial, Helvetica, sans-serif;
}


/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: rgb(107, 107, 107);
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #01447e;
}


/* CSS Test begin */

.comment-box {
    margin-top: 30px !important;
}


/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}

.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}

.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}

.comment-box .media-body .media p {
    margin-bottom: 0;
}

.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}

.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}


/* Comment box */

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

body .no-padding {
    padding: 0;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    /* font-size: 14px; */
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #d9d9d9;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul>li {
    float: left;
}

.status-upload ul>li>a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    /* font-size: 14px; */
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.status-upload ul>li>a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}

.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    /* font-size: 14px; */
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.dropdown>a>span.green:before {
    border-left-color: #d9d9d9;
}

.status-upload form button>i {
    margin-right: 7px;
}


/* Custom scrollbar */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mySidenav {
    left: -360px;
    transition: 0.4s left ease-in-out;
}

.post-project-btn{
    background-color: #edca20;
    color: #1d1e1f;
    font-weight: 600;
}

.post-project-btn:hover{
    background-color: transparent;
    border: 1px solid #edca20;
    color: #edca20 !important;
}
.badge-warning{
    background-color: #edca20;
    color: rgb(73, 73, 73)
}