{% extends "seller/base.html" %}
{% block content %}
<div class="container">
    <form method = "POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mt-4 h3 pt-4 pb-4">Delete The Image?</legend>
            <h5>Are you sure to delete <strong>"{{object.caption}}"</strong> image ?</h5>
            <p class="text-warning">
                <strong>Note:</strong> This action can't be reversed once you delete the image it will be permanently gone!
            </p>
            <div class="form-group h6">
                <input type="submit" class="btn btn-outline-danger btn-sm" value="Yes, Delete">
                <a href="{% url 'seller-profile'  %}" class="btn btn-info btn-sm">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
<hr>
{% endblock %}