{% extends 'seller/base.html' %}
{% load thumbnail %}
{% load humanize %}
{% block title %}
| Dashboard
{% endblock %}
{% block content %}
<style>
    body {
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
    }

    a {
        color: #707070;
    }

    a:hover {
        color: #404040
    }
    .h3, p{
        font-size: 1rem;
    }
    .btn-warning{
        background-color: #edca20;
        color: #1d1e1f !important;
    }
    .btn-warning:hover{
        background-color: #e2c224;
    }
    .item-card {
        cursor: pointer;
    }

    .card-img-top {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .item-card:hover {
        opacity: 0.8;
        transition: 0.3s ease;
    }

    .item-card:hover .middle {
        opacity: 1;
    }

    .small-devices,
    .add-to-card-small {
        display: none;
    }
    @media (max-width: 991px) {
        .middle {
            display: none;
        }

        .small-devices,
        .add-to-card-small {
            display: block;
        }
    }
    @media(max-width: 450px){
        .h3, p{
            font-size: 0.95rem;
        }
    }
</style>
<div class="container-fluid">
    <h3 class="mt-2 mb-4 text-center" style="color: #9e9e9e; font-weight: 300;">- Dashboard -</h3>
    <div class="row">
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <p><span class="fas fa-clipboard-check text-warning "></span><span class="text-muted "> Total Sales</span> <br>
            <span class="h3" style="font-weight: 200">{{ total_sale }}</span></p>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <p><span class="fas fa-rupee-sign text-warning"></span><span class="text-muted "> Total income</span> <br>
                <span class="h3" style="font-weight: 200">Rs. {{total_income | intcomma}}</span></p>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <p><span class="fas fa-clipboard-check text-warning "></span><span class="text-muted "> This month Sales</span> <br>
                <span class="h3" style="font-weight: 200">{{total_sale_this_month}}</span></p>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <p><span class="fas fa-rupee-sign text-warning "></span><span class="text-muted "> This month income</span> <br>
                <span class="h3" style="font-weight: 200">Rs. {{total_income_this_month|intcomma}}</span></p>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <p><span class="fas fa-cart-plus text-warning "></span><span class="text-muted "> Total Products</span> <br>
                <span class="h3" style="font-weight: 200">{{total_products}}</span></p>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
            <p><span class="fas fa-check text-warning "></span><span class="text-muted "> Published</span> <br>
                <span class="h3" style="font-weight: 200">{{published_items}}</span></p>
        </div>
    </div>
    <br>
    <section class="text-center mb-4">
        <div class="row wow fadeIn">

            {% for item in products %}
            <div href="{% url 'view-product' item.item.slug %}"
                class="col-lg-3 col-md-6 mb-4 item-card {% if item.get_category_display %}{{ item.get_category_display }}{% elif item.similar1.get_category_display %}{{ item.similar1.get_category_display }}{% elif item.similar2.get_category_display %}{{ item.similar2.get_category_display }}{% endif %}">
                <div class="card shadow" style="background-color: #fff; box-shadow: none; border: none">
                    <div class="view"
                        style="height: 180px; background: url('{% thumbnail item.image.image '400' as im %}{{ im.url }}{% endthumbnail %}'); background-position: center; background-size: cover;">

                        <a class="small-devices" href="{% url 'product' item.item.slug %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body text-center">

                        <h5>
                            <strong>
                                <a href="{% url 'view-product' item.item.slug %}"
                                    class="dark-grey-text h5">{{ item.item.title }}
                                </a>
                                <br>
                                <small>
                                    <a href="{% url 'view-product' item.item.slug %}" class="badge badge-secondary"
                                        style="padding-top: 2px">{{ item.item.category }}
                                    </a>
                                </small>
                            </strong>
                        </h5>
                        <h6 class="font-weight-bold blue-text">
                            <a href="{% url 'view-product' item.item.slug %}">
                                <strong>
                                    {% if item.item.discount_price %}
                                    <strike>Rs.{{ item.item.price|intcomma }}</strike> &nbsp;
                                    Rs.{{ item.item.discount_price|intcomma }}
                                    {% else %}
                                    Rs.{{ item.item.price|intcomma }}
                                    {% endif %}
                                </strong>
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            {% endfor %}
            <style>
                .add-item:hover {
                    background-color: rgb(250, 250, 250);
                }
            </style>
            <div href="{% url 'add-product-step1' %}" class="col-lg-3 col-md-6 mb-4 item-card">
                <div class="card shadow" style="box-shadow: none; border: none">
                    <div class="view add-item"
                        style="background: url('https://sketchframe.s3.ap-south-1.amazonaws.com/useful_images/add_circle_grey_192x192.png') no-repeat; background-position: center; height: 305px;border: 1px solid #7575753d;">
                    </div>
                </div>
            </div>
        </div>
    <center><a href="{% url 'view-all-product' %}" class='btn btn-warning pl-5 pr-5' style="border-radius: 20px; color: white">View all</a></center>
    </section>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("div[href]").click(function () {
            window.location = $(this).attr("href");
        });
    });

</script>
{% endblock %}