{% extends 'seller/base.html' %}
{% block title %}| Payments{% endblock %}
{% block back-url %}{% url 'home' %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .btn-warning {
        background-color: #edca20;
    }

    .btn-warning:hover {
        background-color: #e2c224;
    }
    /* The sidebar menu */
    .sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: -1; /* Stay on top */
    top: 45px; /* Stay at the top */
    left: 0;
    background-color: #fcfafa; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;
    }

    /* The navigation menu links */
    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    background-color: #000;
    }

    /* Style page content */
    .main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    }
    .title-text{
        margin-top: 10px;
        font-size: 1.75em;
        font-weight: 300;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    } 
    @media(max-width: 450px) {
        .a-text{
            display: none;
        }
        .sidenav {
            width: 50px;
            top: 32px;
        }
        .main {
            margin-left: 50px;
        }
        .title-text{
            margin-top: -10px;
            font-size: 1.25em;
        }
    }
</style>
<p class="mb-2 text-center title-text" style="color: #9e9e9e; font-weight: 300;">- Payments -</p>
<div class="container-fluid">
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="#">
            <span>
                <i class="fas fa-rupee-sign"></i>
                <br>
                <span class="a-text">Amount</span>
            </span>
        </a>
        <a href="#">
            <span>
                <i class="fas fa-credit-card"></i>
                <br>
                <span class="a-text">Payment Options</span>
            </span>
        </a>
        <a href="#">
            <span>
                <i class="fas fa-history"></i>
                <br>
                <span class="a-text">Payment History</span>
            </span>
        </a>
        <a href="#">
            <span>
                <i class="fas fa-info-circle"></i>
                <br>
                <span class="a-text">Help</span>
            </span>
        </a>
    </div>
    
    <!-- Page content -->
    <div class="main">

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}