{% extends 'seller/base.html' %}
{% block title %}| Payments{% endblock %}
{% block back-url %}{% url 'home' %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .btn-warning {
        background-color: #edca20;
    }

    .btn-warning:hover {
        background-color: #e2c224;
    }
    /* The sidebar menu */
    .sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: -1; /* Stay on top */
    top: 45px; /* Stay at the top */
    left: 0;
    background-color: #fcfafa; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;
    }

    /* The navigation menu links */
    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    background-color: #000;
    }

    /* Style page content */
    .main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    }
    .title-text{
        margin-top: 10px;
        font-size: 1.75em;
        font-weight: 300;
    }
    tr{
        font-size: 16px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    } 
    @media(max-width: 450px) {
        .a-text{
            display: none;
        }
        .sidenav {
            width: 50px;
            top: 32px;
        }
        .main {
            margin-left: 50px;
        }
        .title-text{
            margin-top: -10px;
            font-size: 1.25em;
        }
        tr{
            font-size: 14px;
        }
    }
</style>
<p class="mb-3 text-center title-text" style="color: #9e9e9e; font-weight: 300;">- Payments -</p>
<div class="container-fluid">
    <!-- Side navigation -->
    <div class="sidenav nav-tabs">
        <a data-toggle="tab"  href="#amount">
            <span class="nav-item">
                <i class="fas fa-rupee-sign"></i>
                <br>
                <span class="a-text nav-link">Amount</span>
            </span>
        </a>
        <a href="#">
            <span>
                <i class="fas fa-credit-card"></i>
                <br>
                <span class="a-text">Payment Options</span>
            </span>
        </a>
        <a data-toggle="tab"  href="#history">
            <span class="nav-item">
                <i class="fas fa-history"></i>
                <br>
                <span class="a-text nav-link">Payment History</span>
            </span>
        </a>
        <a href="#">
            <span>
                <i class="fas fa-info-circle"></i>
                <br>
                <span class="a-text">Help</span>
            </span>
        </a>
    </div>
    
    <!-- Page content -->
    <div id="amount" class="main tab-pane active">
        <table class="table table-light bg-light">
            <thead class="thead-dark">
                <tr>
                    <th>Artwork</th>
                    <th>Earning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dummy item 1</td>
                    <td>Rs.45,000</td>
                </tr>
                <tr>
                    <td>Dummy item 2</td>
                    <td>Rs.22,500</td>
                </tr>
                <tr>
                    <td>Dummy item 3</td>
                    <td>Rs.4,750</td>
                </tr>
                <tr>
                    <td>Dummy item 4</td>
                    <td>Rs.9,990</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td><b>Rs.82,240</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="history" class="main tab-pane">
        <table class="table table-light bg-light">
            <thead class="thead-dark">
                <tr>
                    <th>Artwork</th>
                    <th>Earning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dummy item 0</td>
                    <td>Rs.9,990</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td><b>Rs.9,990</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
</div>
{% endblock %}