{% extends 'home/base.html' %}
{% block title %}
| Register
{% endblock %}

{% block content %}
<style>
.form-control{
    width: 35%;
}
@media(max-width: 1199px){
    .form-control{
        width: 40%;
    }   
}
@media(max-width: 991px){
    .form-control{
        width: 50%;
    }   
}
@media(max-width: 767px){
    .form-control{
        width: 75%;
    }   
}
@media(max-width: 500px){
    .form-control{
        width: 100%;
    }   
}
</style>
<form method="POST" class="container">
    <p class="mt-2 mb-3 h2 text-center" style="color: #9e9e9e; font-weight: 300;">- Register as seller -</p>
    {% csrf_token %}
    <div class="w-75 mw-100 mx-auto">
        <p style='color: #696969;'>
            <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam animi temporibus molestiae placeat quod non commodi quidem molestias obcaecati consequuntur dolorem, hic autem? Voluptas quod adipisci illo, optio debitis ab!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquid, est ut unde alias laborum incidunt velit placeat minima mollitia distinctio natus, tempore asperiores soluta expedita excepturi illum et sunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officiis eligendi corporis aperiam? Quis incidunt laborum, quas inventore dolorum sed aperiam quod sunt, nesciunt cum, maxime perspiciatis velit ipsam totam. -->
            <center><b>Welcome to SketchFrame!</b></center>

            These terms and conditions outline the rules and regulations for the use of SketchFrame's Website, located at <b>www.sketchframe.com</b>.
            <br><br>
            By accessing registering as seller, we assume you accept these terms and conditions. Do not continue to register if you do not agree to take all of the terms and conditions stated on this page.
            <br><br>
            <b><u>Note:</u></b> Currently, we approve only <b>Indian</b> sellers to sell at the portal.
            <br><br>
            To register at Sketchframe.com as a seller, you have to provide the following information correctly: <br>
            <br>
            <strong>Personal information:</strong><br>
            Full name of seller(individual/authority)   <br>
            GST number   <br>
            Experience in the field   <br>
            Contact info. (email, phone)   <br>
            Address <br>
            Speciality<br>
            Gender <br>
            Image <br>
            Bio <br>
            <br>
            <strong>Bank details:</strong><br>
            Name <br>
            Account Number <br>
            Bank name <br>
            IFSC code <br>
            <br>
            <strong>Important Information</strong>
            <ul>
                <li>Proper packaging of the artwork should be done by seller. If the buyer returned the artwork for any reason regarding packaging defects, seller will be charged.</li>
                <li>Seller have to put the <b>MRP</b> of the product, at which the buyer will buy the artwork. But, the settlement amount will be less than MRP, as the MRP is inclusive of <b>Marketplace fee, shipping fee, tax.</b>.</li>
                <li>Seller have to handle the packed artwork to our pickup guy on time. Time will be specified by the seller himself/herself at the product addition. Delay on this may leads to additional charges.</li>
                <li>Once an artwork is ordered, Seller can't edit or delete the artwork. Seller have to handle it any how. If unable to do this, his/her account may sespend.</li>
                <li>Seller is strictly prohibited to share his contact details to any customer. <br>
                    If found doing this -
                    Strong action will be taken against him/her and sketchframe has full rights to charge the penalty and take any legal action.
                </li>
            </ul>
        
        </p><center>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" onclick="myFunction()" required>
        <label class="custom-control-label" for="customCheck">Become Seller</label>
        <br>
        <p class="text-muted small">By clicking on the <b>REGISTER</b> button, you agree to our <a href="#">terms & conditions</a></p>
    </div>
    <p class="h5 text-muted mb-3 mt-3">
        <input name="code" type="text" class="form-control" id="text" placeholder="Have A Referral Code? (Optional)" style="display:none">
    </p>
    <input type="submit" value="REGISTER" class="btn btn-warning pl-5 pr-5">
    </center>
    </div>
</form>
<br>
<script>
    function myFunction() {
        var checkBox = document.getElementById("customCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
{% endblock %}