{% extends 'home/base.html' %}
{% load thumbnail %}
{% load humanize %}
{% block title %}| Shop{% endblock %}

{% block keywords %} sketchframe shop {% endblock %}

{% block description %}Choose from the wide variety of art, on demand paintings, sketches and a lot more. Gifts for your love ones at the same hub, easily accessible and affordable.{% endblock %}

{% block extra_head %}
<style>
.this-artwork {
    position: relative;
    color: white;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 0px;
    right: 5px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.05) 100%);
    color: #fff;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: auto;
    border-radius: 0px 0px 0px 10px;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 5px;
    background-image: linear-gradient(to top,rgba(0,0,0,0.7) 0%,transparent 100%);
    color: #fff;
    height: 30px;
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 0px;
    margin-bottom: 5px;
    width: auto;
    border-radius: 0px 10px 0px 0px;
    font-size: 14px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 5px;
    background-image: linear-gradient(to top,rgba(0,0,0,0.7) 0%,transparent 100%);
    color: #fff;
    height: 30px;
    padding-top: 18px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 0px;
    margin-bottom: 5px;
    width: auto;
    border-radius: 10px 0px 0px 0px;
    font-size: 14px;
}

.categories-container {
    height: auto;
    background-color: #1d1e1f !important;
    margin-top: -30px;
}

.artwork-images {
    padding: 5px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .artwork-images {
        padding: 3px;
    }
    .bottom-left {
        margin-bottom: 3px;
        margin-left: -3px;
        font-size: 14px;
        padding: 10px 5px 0px 5px;
        /* bottom: -10px; */
        height: 20px;
    }
    .bottom-right {
        margin-bottom: 3px;
        margin-right: -3px;
        font-size: 14px;
        padding: 10px 5px 0px 5px;
        /* bottom: -10px; */
        height: 20px;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 450px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .top-right {
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.1) 100%);
        margin-top: 3px;
        margin-right: -3px;
        font-size: 18px;
        padding: 5px;
        padding-bottom: 23px;
        height: 20px;
    }
}
</style>

<style>
.mobile-sort, .mobile-filter, .mobile-grid-1, .mobile-grid-2{
    display: none;
}
.side-nav{
    min-height: 50vh;
    background-color: #f9f9f9;
}
.main-content{
    min-height: 50vh;
    background-color: #fff;
}
.custom-list-group-item{
    background-color: transparent;
    border: none;
    padding: 0px;
    color: #777777;
    font-size: 14px;
}
.list-group-item.active{
    background-color: #1d1e1f;
    border: none;
    color: #f6f6f6;
}
@media(max-width: 991px){
    .mobile-sort, .mobile-filter, .mobile-grid-1, .mobile-grid-2{
        display: block;
        background-color: rgb(253, 253, 253);
        border-bottom: 1px solid #e2e2e2;
    }
    .mobile-sort > button, .mobile-filter > button, .mobile-grid-1 > button, .mobile-grid-2 > button{
        color: #404040;
        font-weight: 600;
    }
    .mobile-sort > button:hover, .mobile-filter > button:hover, .mobile-grid-1 > button:hover, .mobile-grid-2 > button:hover{
        text-decoration: none;
        color: #404040;
    }
    .mobile-sort, .mobile-filter, .mobile-grid-1{
        border-right: 1px solid #e2e2e2;
    }
    .side-nav{
        display: none;
    }
}

@media(max-width: 450px){
    
}
</style>

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row shadow-sm">
        <div class="col-4 mobile-sort text-center">
            <button class="btn btn-link"><i class="fas fa-sort-amount-up"></i> Sort</button>
        </div>
        <div class="col-4 mobile-filter text-center">
            <button class="btn btn-link"><i class="fas fa-filter"></i> Filter</button>
        </div>
        <div class="col-2 mobile-grid-1 text-center">
            <button class="btn btn-link"><i class="fas fa-square"></i></button>
        </div>
        <div class="col-2 mobile-grid-2 text-center">
            <button class="btn btn-link"><i class="fas fa-th-large"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="side-nav col-lg-2">
            <div class="p-2" style="background-color: transparent;">
                <div class="row" style="border-bottom: 1px solid #cfcfcf;">
                    <p class="h4 text-dark p-3 pb-0 mb-0">
                        Filters
                    </p>
                </div>
                <div class="row">
                    <p class="text-dark p-3 mb-0 font-weight-bold" style="font-size: 14px;">
                        CATEGORIES
                    </p>
                </div>
                
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
                    <label class="custom-control-label" for="customCheck1">Water colour</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                    <label class="custom-control-label" for="customCheck2">Fabric</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="example1">
                    <label class="custom-control-label" for="customCheck3">Pencil colour</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example1">
                    <label class="custom-control-label" for="customCheck4">Pastle colour</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck5" name="example1">
                    <label class="custom-control-label" for="customCheck5">Mix media</label>
                </div>

                <div class="row">
                    <p class="text-dark p-3 mb-0 font-weight-bold" style="font-size: 14px;">
                        PRICE
                    </p>
                </div>
                <div class="clearfix">
                    <div class="float-left">
                        <div class="dropdown">
                            <button type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown">
                                Min
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">1,000</a>
                                <a class="dropdown-item">5,000</a>
                                <a class="dropdown-item">10,000</a>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown">
                            <button type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown">
                                1,00,000+
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">20,000</a>
                                <a class="dropdown-item">50,000</a>
                                <a class="dropdown-item">1,00,000+</a>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <p class="text-dark p-3 mb-0 font-weight-bold" style="font-size: 14px;">
                        SIZE
                    </p>
                </div>
                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item"><i class="fas fa-compress-arrows-alt"></i></li>
                    <li class="list-group-item active"><i class="far fa-square"></i></li>
                    <li class="list-group-item"><i class="fas fa-expand-arrows-alt"></i></li>
                </ul>

                <br>
                <div class="row">
                    <p class="text-dark p-3 mb-0 font-weight-bold" style="font-size: 14px;">
                        ORIENTATION
                    </p>
                </div>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item active"><i class="fas fa-arrows-alt-v"></i></li>
                    <li class="list-group-item"><i class="fas fa-arrows-alt-h"></i></li>
                    <li class="list-group-item"><i class="fas fa-expand-arrows-alt"></i></li>
                </ul>

                <br>
                <div class="row">
                    <p class="text-dark p-3 mb-0 font-weight-bold" style="font-size: 14px;">
                        RATINGS
                    </p>
                </div>
                
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">4&#9733; & above</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">3&#9733; & above</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">2&#9733; & above</label>
                </div>
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">1&#9733; & above</label>
                </div>
                
                <br>
                <div class="row">
                    <p class="text-dark p-3 mb-0 font-weight-bold" style="font-size: 14px;">
                        COLOUR
                    </p>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown">
                        All colours
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Red</a>
                        <a class="dropdown-item">Green</a>
                        <a class="dropdown-item">Black</a>
                        <a class="dropdown-item">White</a>
                        <a class="dropdown-item">Cream</a>
                        <a class="dropdown-item">Pink</a>
                        <a class="dropdown-item">Purple</a>
                        <a class="dropdown-item">Blue</a>
                        <a class="dropdown-item">Navy</a>
                        <a class="dropdown-item">Peach</a>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="main-content pt-2 col-lg-10">
            <section id="photos" style="background-color: transparent; height: 100%;">
                {% for product in products %}
                {% if product.item.approved and product.item.listing_status and product.item.finallySubmitted %}
                <div class="this-artwork">
                    <span id="product-{{ forloop.counter }}" style="display: none" data-value="{{ product.item.slug }}"></span>
                    <a href="{% url 'product' product.item.slug %}" class="text-light">
                        <img class="artwork-images" src="{% thumbnail product.image.image '400' as im %}{{ im.url }}{% endthumbnail %}">
                        <div class="bottom-left">{{ product.item.title|truncatechars:"12" }} ({{product.item.length}} x {{product.item.height}})</div>
                        <div class="bottom-right">Rs.
                            {% if product.item.discount_price %}
                            {{ product.item.discount_price | intcomma}}
                            {% else %}
                            {{ product.item.price |intcomma}}
                            {% endif %}
                        </div>
                    </a>
                    <div class="top-right">
                        <a onclick="showQuickView('{{forloop.counter}}');" data-toggle="modal" data-target="#myModal"><i class="fas fa-search-plus" style="cursor: pointer;"></i></a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </section>
        </div>
    </div>
</div>
<style>
#loader{
    display: block;
}
</style>
<div class="modal fade" id="myModal" style="padding-right: 0px;">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content"  style=" background-color: #f6f6f6">
            <div class="modal-body" id="content-body">
                <div id="loader">
                    <center>
                        <div class="spinner-border text-dark m-3" style="font-size: 4px;"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script>
function showQuickView(n){
    var slug = $(`#product-${n}`).attr('data-value');
    $.ajax({
        type: "POST",
        url: "{% url 'quick-view' %}",
        data: {
            'slug': slug
        },
        dataType: 'html',
        success: function(data, textStatus, jqXHR){
            if(textStatus === 'success'){
                $('#content-body').html(data);
                document.getElementById("loader").style.display = "none";
            }else{
                alert('data was not loaded');
            }
        },
        error: function(error){
            console.log(error.message);
        }
    })
}
</script>
{% endblock %}