{% extends 'home/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}| {{ item.title }}{% endblock %}

{% block keywords %}{{item.title}}{% endblock %}
{% block description %}{{ item.shortDescription }}{% endblock %}
{% block content %}
<style>
    a {
        color: #707070;
    }

    a:hover {
        color: #404040
    }
    .item-card {
        cursor: pointer;
    }

    .card-img-top {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .item-card:hover {
        opacity: 0.8;
        transition: 0.3s ease;
    }

    .item-card:hover .middle {
        opacity: 1;
    }

    .small-devices,
    .add-to-card-small {
        display: none;
    }

    @media (max-width: 991px) {
        .middle {
            display: none;
        }

        .small-devices,
        .add-to-card-small {
            display: block;
        }
    }
</style>
<style>
@media(max-width: 450px){
    .lead{
        font-size: 1rem;
    }
}
</style>
<br>
<div class="container-fluid dark-grey-text">
    <div class="row wow fadeIn">
        <div class="col-md-6 mb-3">

            <ul class="breadcrumb p-0" style="background-color: transparent;">
                <li style="font-size: 14px;"><a href="{% url 'shop' %}">Products</a></li>
                <li style="font-size: 14px;"><a>{{ item.title }}</a></li>
            </ul>
            <div class="slideshow-container">
                {% for itemImage in itemImages %}
                <div class="mySlides">
                    <div class="numbertext">{{forloop.counter}}</div>
                    <div
                        style="background: url('{{itemImage.image.url}}') no-repeat; width: 100%; height: 400px; background-size: cover; background-position: center;">
                    </div>
                </div>
                {% endfor %}
                <hr>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="slideshow-row">
                    {% for itemImage in itemImages %}
                    <div class="column demo cursor"
                        style="background: url('{{itemImage.image.url}}') no-repeat; width: 33.33%; height: 100px; background-size: cover; background-position: center;"
                        onclick="currentSlide('{{forloop.counter}}')">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-1">
            <div class="p-4">
                <p class="h4" style="font-weight: 300;">{{ item.title }}</p>
                <a>
                {% if item.get_category_display %}
                    <span class="badge badge-dark p-1 mb-2"
                    style="padding-top: 3px; font-size: 10px;">{{ item.get_category_display }}</span>
                {% endif %}
                </a>
                <div class="row mb-0">
                    <div class="col-sm-12" style="font-size: 15px;color: #ffb800">
                        {% if item.ratings >= 5 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% elif item.ratings >= 4.5 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        {% elif item.ratings >= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 3.5 %}
                        <i class="fa fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 2.5 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 1.5 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 0.5 %}
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif item.ratings >= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% endif %}
                    </div>
                </div>
                <p class="small" style="color: #404040">Colour - 
                        {{ item.color }}
                </p>
                <p class="small text-muted" style="color: #404040">By - <a class="text-info"
                        href="{% url 'view-seller-profile' item.seller.user.user.username %}">
                        {{ item.seller.user.user.username }}</a>
                </p>
                <p class="lead" style="font-weight: 400;">
                    {% if item.discount_price %}
                    <span class="mr-1">
                        <del>Rs.{{ item.price| intcomma }}</del>
                    </span>
                    <span>Rs.{{ item.discount_price| intcomma }}</span>
                    {% else %}
                    <span>Rs.{{ item.price| intcomma }}</span>
                    {% endif %}
                </p>
                <p class="lead text-muted mb-0">Stock: <b style="color:#404040 ;">{{ item.stock }}</b></p>
                <p class="lead" style="color: #404040;">Dimensions: <b>{{ item.height }} x {{ item.length }} (cm)</b></b></p>
                <p class="h3" style="color: #555555; font-weight: 300;">Description</p>
                <div class="productDescription" style="color: #424242; font-weight: 400;">
                    <p>{{ item.fullDescription | safe }}</p>
                </div>
                <div class="clearfix">
                    {% if item.stock == 0 %}
                    <a class="btn btn-primary btn-sm pl-3 pr-3 float-left disabled" data-toggle="tooltip" data-placement="top" title="Not in stock!" style="color:#fff">Out of stock
                        <i class="fas fa-ban ml-1"></i>
                    </a>
                    {% else %}
                    <a href="{{ item.get_add_to_cart_url }}" class="btn btn-secondary btn-sm pl-3 pr-3 float-left">Buy now
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4 class="my-4 h4">Reviews ({{ comments.count }})</h4>
        {% for comment in comments %}
        <!-- Comments -->
        <div class="row">
            <div class="media comment-box" style="width: 100%">
                <div class="media-left">
                    <a href="#">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </a>
                </div>
                <div class="media-body">
                    <p style="font-size: 17px;" class="media-heading"> 
                        {% if comment.user.is_seller %}
                        <a href="{% url 'view-seller-profile' comment.user.user.username  %}" class="text-primary">{{ comment.user.user.username }}</a>
                        {% else %}
                        <a class="text-body">{{ comment.user.user.username }}</a>
                        {% endif %}
                         | <span
                            style="font-size: 12px;">{{comment.created_date.day}}-{{comment.created_date.month}}-{{comment.created_date.year}}</span><span
                            class="ml-2 pr-1 pl-1 float-right"
                            style="background-color: #e22b37; border-radius: 3px; color: #fff;"><i
                                style="color: #ffff00"
                                class="fas fa-star mr-1 pt-1 pb-1"></i><b>{{ comment.rating }}.0</b></span>
                    </p>
                    <p>{{ comment.text }}
                        <br> 
                    {% if comment.user.user == user %}
                    <a href="{% url 'edit-comment-product' comment.id %}" class="small text-primary">Edit</a>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <!-- End Comments -->
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="row">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form method="POST">
                        {% csrf_token %}
                        <textarea name="review-msg" required
                            placeholder="How was your experience at {{ object.ShopName }}?"></textarea>
                        <select name="rating" class="custom-select m-2"
                            style="width: 45%;color: #ffb800; font-size: 18px; font-weight: bold">
                            <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
                            <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
                            <option value="3">&#9733; &#9733; &#9733;</option>
                            <option value="2">&#9733; &#9733;</option>
                            <option value="1">&#9733;</option>
                        </select>
                        <button type="submit" class="btn btn-primary btn-md"><b>Post comment</b></button>
                    </form>
                    <p style="content:''"></p>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>
        {% endif %}
        <!-- End Comments -->
    </div>

</div>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("div[href]").click(function () {
            window.location = $(this).attr("href");
        });
    });

</script>
{% endblock %}